<h2>About Us</h2>
<div class="about">
<p>This is the about us page content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi facere iure
    pariatur eius consequuntur sed quam, laudantium doloremque rerum sint odit eos sequi tempore. Repudiandae possimus
    minus dignissimos sequi, ipsa sunt ipsam. Ratione sunt recusandae tempore vel voluptas repellat sint, perferendis ea
    sapiente necessitatibus officia enim omnis suscipit qui ipsam veniam accusamus, impedit in quod molestias ipsa
    expedita! Reprehenderit, accusamus!</p>
</div> 


